* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  box-sizing: border-box;
  background-color: #000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  padding: 1%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(calc(100% / 6) - 1%);
  height: 23%;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.box img {
  width: 55%;
  display: none;
}

.win-modal {
  display: none;
  width: 50%;
  height: 80%;
}

.win-modal .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  background-color: #fff;
}

.wrapper p {
  font-size: 75px;
  color: #2e2d2d;
}

.wrapper button {
  all: unset;
  padding: 20px;
  font-size: 35px;
  background-color: #2e2d2d;
  color: #fff;
  cursor: pointer;
}
