/*** css reset ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*** layout ***/

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  padding: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(95% / 6);
  height: calc(93% / 4);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.box img {
  width: 60%;
  display: none;
}

/*** media queries  ***/

@media (max-width: 1030px) {
  .box {
    width: calc(92% / 4);
    height: calc(93% / 6);
  }
  .box img {
    width: 65%;
  }
}

@media (max-width: 430px) {
  .box {
    width: calc(95% / 3);
    height: calc(91% / 8);
  }

  .box img {
    width: 60%;
  }
}
